<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <!-- Display User their user id -->
    <ion-card-header>
      Your User ID:
    </ion-card-header>
    <ion-card-content>
      {{ id }}
    </ion-card-content>
  </ion-card>

<ion-list>
  <ion-item>
    <ion-label floating>User ID:</ion-label>
    <ion-input type="text" placeholder="sdf"></ion-input>
  </ion-item>
</ion-list>

<div padding>
  <button ion-button block>Call</button>
</div>

</ion-content>

<!--<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content>-->
